<!-- 
  Author: Thomas Vandergroen
  Class: CST 336 – Internet Programming
  Date: 12/18/2025
  Assignment: Final Project
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudySmart</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <%- include('../partials/header'); %>

    <main class="container">
        <h1>Edit Subject</h1>
        <form class="subject-form" action="/subjects/edit" method="POST">
            <input type="hidden" name="subjectId" value=<%- subject.subject_id %>>
            <div class="subject-form-header">
                <div>
                    <span>Category:</span>
                    <select name="category" required>
                        <% for(i = 0; i < categories.length; i++) { %>
                            <option value="<%=categories[i]%>"
                                    <% if (categories[i]==subject.subject_category) { %>selected<% } %>>
                                <%=categories[i]%></option>
                        <% } %>
                    </select>
                </div>
                <div><span>Subject Name:</span> <input type="text" name="subjectName" value="<%=subject.subject_name%>" required></div>
                <div><span>End Date:</span> <input type="date" name="endDate" value="<%=subject.formatted_date%>" required></div>
            </div>
            <div class="subject-form-body">
                <span>Description:</span> <textarea name="subjectDescription" required><%=subject.subject_desc%></textarea>
            </div>
            <div class="subject-form-footer">
                <button>Update Subject</button>
                <span class="errorMessageDisplay">
                    <% if (typeof session !== 'undefined' && session.errorMessage) { %>
                        <%= session.errorMessage %>
                        <% session.errorMessage = null %>
                    <% } %>
                </span>
            </div>
        </form>
    </main>

    <%- include('../partials/footer'); %>

</body>
</html>
